<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create new post</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h1>Create New post</h1>
    <form method="post" action="/posts">
        <input type="text" name="username" placeholder="Enter your username"><br><br>
        <textarea name="content" cols="30" rows="10" placeholder="Write New post"></textarea>
        <button>Add New Post</button>
    </form>
</body>
</html>