<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>See post detail</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h1>Your Post are here!</h1>
    <p>user id: <%= post.id %><p>
    <div class="post">
        <h2 class="user">@ <%= post.username %></h2>
        <h4> <%= post.content %></h4>
        <a href="/posts">Go back</a>
    </div>
    
</body>
</html>